:root {
    --red: #F94144;
    --orangered: #F3722C;
    --orangeyellow: #F8961E;
    --mango: #F9844A;
    --yellow: #F9C74F;
    --pistach: #90BE6D;
    --green: #43AA8B;
    --cadetblue: #4D908E;
    --queenblue: #577590;
    --lightblue: #71d2fc;
    --blue: #277DA1;
    --white: #f1f1f1;
    --black: #181818;;
    --charcoal: #414141;
    --charcoal-accent-red: 65;
    --charcoal-accent-green: 65;
    --charcoal-accent-blue: 65;
} 

html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    top: 0;
    font-family: 'Roboto', serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pistach);
    height: 100%;
}

.content {
    margin: 1em 0.5em;
    width: 90%;
    padding: 0.5em;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    color: var(--white);
    border: var(--yellow) 0.25em solid; 
    background-color: rgba(var(--charcoal-accent-red), var(--charcoal-accent-green), var(--charcoal-accent-blue), 0.75);
    box-sizing: inherit;
}

.container {
    display: inline-block;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    font-size: 1em;
    overflow-x:auto;
    box-sizing: inherit;
}

.sub_container {
    display: inline-block;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: inline-block;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

.newline {
    display: block;
    width: 100%;
    text-align: center;
}

.form_hidden {
    max-height: 2.5em;
    overflow: hidden;
    opacity: 0.5;
    transition: 1s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.form_shown {
    max-height: none;
    overflow: visible;
    opacity: 1;
    transition: 1s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center
}

.form_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5em;
    border-radius: 6px;
    width: auto;
    background-color: var(--queenblue);
}

#plural {
    background-color: var(--queenblue);
}

#singular {
    background-color: var(--blue);
}

#none {
    background-color: var(--cadetblue);
}

label {
    display: block;
    margin: 0.25em 0;
    text-align: center;
    display: block;
}

textarea {
    overflow-x: hidden;
    resize: vertical;
    min-height: 2em;
    font-family: 'Roboto', serif !important;
}

.form-control {
    font-size: 1.1em;
    padding: 0.5em 0.75em;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0.25em;
    border: none;
    width: 18em;
    max-width: 100%;
    margin: auto;
}

input[type="text"] {
    font-size: 1.1em;
    width: 18em;
}

.btn {
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 20em;
    margin: auto;
}

.btn_logo {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0 0.5em 0 0;
}

label {
	cursor: pointer;
}

input[type="checkbox" i] {
    transform: scale(1.5);
    cursor: pointer;
    width: auto;
    box-sizing: content-box;
    display: block;
    margin-top: 0.5em;
}

h1 {
    margin: 0.25em 0.12em;
    text-align: center;
    font-size: 3em;
}

h2 {
    margin: 0.5em 0.25em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

p{

}

p2 {
    font-size: 1.25em;
}

hr {
    display: block;
    width: 100%;
    margin: 2em 0;
}

a {
    text-align: center;
}

.warning {
    padding: 1em;
    margin: auto;
    background-color: var(--lightblue);
    border: 2px solid var(--blue);
    border-radius: 0.5em;
    color: var(--black);
    font-size: 1em;
    max-width: 25em;
    text-align: center;
}

.footer {
    text-align: center;
    background: none;
    box-shadow: none;
    height: fit-content;
    margin: 2em 0.5em;
    width: 90%;
    padding: 0.5em;
    border-radius: 6px;
    color: var(--white);
}

.footer-elements {
    width: fit-content;
    height: fit-content;
    margin: auto;
    color: var(--white);
    text-align: center;
    background-color: rgba(var(--charcoal-accent-red), var(--charcoal-accent-green), var(--charcoal-accent-blue), 0.75);
    padding: 0.5em;
    color: var(--white);
    border: var(--yellow) 0.12em solid;
    border-radius: 0.5em;
  }

#cache, #log {
    width: 100%;
    margin: 0;
}

#cache_results, #log_results {
    padding: 0;
    margin: 1em;
    border: 1px solid var(--yellow);
    width: auto;
}

.cacher-table, .log-table {
    width: 100%;
    overflow: scroll;
    border-spacing: 0;
}

.cacher-th, .cacher-td, .log-th, .log-td {
    padding: 0.25em;
    border: 1px solid var(--yellow);
    background-color: var(--charcoal);
    color: var(--white);
}

.cacher-th, .log-th {
    text-align: center;
}

.cacher-td, .log-td {
    text-align: right;
}

.users-module {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--yellow);
    background-color: var(--charcoal);
    color: var(--white);
    border-radius: 0.25em;
}

.user-object {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.user-userid, .user-active {
    margin: 0.25em 0.5em;
    text-align: center;
    width: 5em;
    overflow: hidden;
}

.user-active-true {
    background-color: var(--green);
    border-radius: 0.25em;
    width: min-content;
    padding: 0.15em 0.5em;
    margin: auto;
}

.user-active-false {
    background-color: var(--red);
    border-radius: 0.25em;
    width: min-content;
    padding: 0.15em 0.5em;
    margin: auto;
}

.tautulli-server-badge {
    background-color: var(--yellow);
    border-radius: 0.25em;
    width: min-content;
    padding: 0.15em 0.5em;
    margin: auto;
    color: var(--black);
    white-space: nowrap;
    margin: 0.5em auto;
    overflow: hidden;
}

.user-username, .user-friendlyname, .user-email, .user-tautulli-servers {
    margin: 0.25em 0.5em;
    text-align: center;
    width: 15em;
    overflow: hidden;
}

.btn_solo {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.user-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.user-headers {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.user-header {
    margin: 0.25em 0.5em;
    text-align: center;
    width: 15em;
    overflow: hidden;
    text-decoration: underline;
}

.user-header-short {
    margin: 0.25em 0.5em;
    text-align: center;
    width: 5em;
    overflow: hidden;
    text-decoration: underline;
}

.user-logbutton {
    width: 4em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--charcoal);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 0.1em solid var(--yellow);
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 0.25em;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.user-history {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.user-history-date, .user-history-ip {
    margin: 0.25em 0.5em;
    text-align: center;
    width: 15em;
    overflow: hidden;
}

.admin-button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}