html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', serif;
  font-weight: normal;
  background: #a2d1d0;
  box-sizing: border-box;
}

h1{
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px #555;
    line-height: 110%;
    text-align: center;
    padding: 0.25em 0;
    margin: 0;
}

h2{
    text-shadow: 1px 1px 2px #555;
    font-size: 2em;
    color: white;
    line-height: 110%;
    text-align: center;
    margin: 0;
    font-weight: normal;
}

h3{
    text-shadow: 1px 1px 2px #555;
    color: white;
    text-shadow: 1px 1px 2px #555;
    line-height: 110%;
    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 1.5em;
    text-overflow: clip;
}

h4{
    font-size: 1.5em;
    margin: auto;
    text-align: center;
    font-weight: normal;
    color: white;
}

p{
    text-shadow: 1px 1px 2px #555;
    font-size: 1.25em;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

p2{
  font-size: 1em;
  color: black;
  text-align: center;
  margin: 0;
}

a {
    color: inherit;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.tittel {
  padding-top: 10em;
  width: 100%;
  margin: auto;
  display: inline-block;
  text-overflow: clip;
}

.content {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content_landing {
    width: 100%;
    margin: 0;
    height: auto;
    box-sizing: border-box;
}

.boks {
  margin: auto;
  width: 100%;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.boks2 {
    width: 30em;
    max-width: 100%;
    margin: auto;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    padding: 2em;
    display: inline-block;
}

.boks3 {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.load_top_10 {
    width: 30em;
    display: inline-block;
    margin: auto;
    max-width: 90%;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

.tekst {
  padding: 1em;
  height: 14em;
  float: left;
  display: inline-block;
  top: 0;
}

.status_tekst {
  padding: 1em;
  height: 12em;
  float: left;
  display: inline-block;
  top: 0;
}

.stats_tekst {
  padding: 1em;
  height: 10em;
  float: left;
  display: inline-block;
  top: 0;
}

#stats {
    width: 22em;
}

.warning {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #ffbd55;
    border-radius: 25px;
    color: black;
	font-size: 0.75em;
}

.boks-knapp {
  height: 5em;
  width: 100% !important;
  display: inline-block;
  float: left;
}

.server:hover {
  background-color: white;
  border-radius: 25px;
}

.status {
  display: inline-block;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  background-color: lightslategrey;
  border-radius: 25px;
  padding: 0.5em;
  width: 100%;
  top: 0;
  color: white;
  font-size: 1.25em;
  box-sizing: border-box;
  max-width: 100%;
}

.stats-list {
    max-height: 75em;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.status-title {
    font-size: 1.25em;
    padding: 0.5em;
}

.button {
  padding: 0.5em;
  margin: 0.5em;
  font-family: 'Roboto', serif;
  font-size: 1.25em;
  background-color: #f9a825;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  align-self: center;
  color: white;
  padding: 1em;
}

.form {
  font-family: 'Roboto', serif;
  font-size: 1em;
  margin: 0;
}

.form_button {
  font-family: 'Roboto', serif;
  text-align: center;
  background-color: #f9a825;
  color: white;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding: 0.5em;
  font-size: 1em;
  margin: 0.5em;
}

.form_input {
  font-family: 'Roboto', serif;
  font-size: 1em;
  width: 90%;
  margin: 0.5em;
  text-align: center;
  border-radius: 25px;
  border: none;
  height: 2em;
}

.item:hover {
  background-color: #54606d !important;
  border-radius: 25px;
}

.item {
  padding: 0.5em;
  display: flex;
}

.gold {
    background-color: #d4af37;
    border-radius: 25px;
}

.silver {
    background-color: #C0C0C0	;
    border-radius: 25px;
}

.bronze {
    background-color: #cd7f32;
    border-radius: 25px;
}

.list {
  display: inline-block;
  margin: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 0.5em;
  text-align: left;
  width: 10em;
  text-overflow: ellipsis;
  overflow: hidden;
  top: 0;
  margin-top: 0;
}

.number {
  text-align: right;
  margin: 0.1em;
  display: inline-block;
  width: 10%;
  vertical-align: top;
  float: left;
}

.info {
  text-align: left;
  margin: 0.1em;
  display: inline-block;
  width: 6em;
  vertical-align: top;
}

.name {
  text-align: right;
  margin: 0.1em;
  display: inline-block;
  width: 90%;
  vertical: center;
  text-overflow: ellipsis;
  vertical-align: top;
}

.you {
    text-decoration: underline;
}

.movie_name {
  width: 90%;
  text-align: right;
  display: inline-block;
  margin: 0.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.info_name {
  width: 14em;
  text-align: right;
  display: inline-block;
  margin: 0.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.server {
  width: 10em !important;
  display: inline-block;
  margin: auto;
  text-align: left;
  padding: 0.5em;
}

.form-control {
    font-size: 1em;
    padding: 0.5em;
    margin: auto;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0.25em;
    border: none;
}

.form-group {
    display: inline-block;
    margin: auto;
    float: left;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    background-color: #ffbd55;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

label {
	cursor: pointer;
}

input[type="checkbox" i] {
    transform: scale(1.5);
    cursor: pointer;
    width: auto;
    box-sizing: content-box;
    display: block;
    margin-top: 0.5em;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2em;
  color: white;
  text-align: center;
}

.sign_out {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffbd55;
  border: none;
  cursor: pointer;
  border-radius: 0.25em;
  font-family: 'Roboto', serif;
  padding: 0.25em 0.5em;
  margin: auto;
}

.btn_logo {
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0 0.25em;
}

/*Snowflakes*/
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.color-purple {
  background-color: #B9A3D2;
  transition-duration: 1s;
}

.color-pink {
  background-color: #D2A3A4;
  transition-duration: 1s;
}

.color-green {
  background-color: #BBD2A3;
  transition-duration: 1s;
}

.color-brown {
  background-color: #CFA38C;
  transition-duration: 1s;
}

.color-blue {
  background-color: #a2d1d0;
  transition-duration: 1s;
}

.color-black {
  background-color: #39393A;
  transition-duration: 1s;
}
